.projects{
    
    border-style: dotted;
    border-radius: 150px;
    max-width: 310px;
    border-width: 8px;
    border-color: yellow;
    background-color: pink;
}

.projectcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 1 180px;
    margin-bottom: 2rem;
    justify-content: flex-start;
    align-content: flex-start;
}

p {
   margin-left: 1rem; 
   margin-top: 0rem;
   display:flex;
   justify-content: space-between;
   font-family: 'Josefin Sans', sans-serif;

}


.projectheader {
    margin: 0px 0px 60px 320px;
    font-size: 5rem;
}
 .innercontainer {
     display:flex;
     
     flex-direction: column;

 }

 .techlist {
     margin-left: 10px;
 }

 h5 {
     margin-left: 1rem;
 }

 a{
     margin-left:1rem;
 }
 h2 {
     margin-left: 1rem;
     margin-top: 1rem;
    
 }

 .projecttitle{
     color: pink;
     font-size: 40px;
     font-family: 'Josefin Sans', sans-serif;
     margin-bottom: -0rem;
     margin-top: 2rem;

 }

 .plink {
    
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    font-size:15px;
    font-weight: 900;

 }