.container {
    display: flex;
    flex-direction: column;
    max-width: 1950px;
    margin: 0 auto;
    padding: 1rem;
    min-height: 100vh;
    main {
        flex-grow: 1;
    }
}
.containerbox {
    height: 200px;
    width: 90vw;
    box-shadow: -7px -7px 17px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom:0;
    left: 0;

    
}
*{
    background-color: #016DD7;
}