
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Raleway:wght@500&family=Sacramento&family=Yellowtail&display=swap');



.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    ul{
        display:flex;
        list-style:none;
        li{
            margin: .9rem;
            a{
                text-decoration: none;
                color: pink;   
            }
        }
    }
}

.nav-item-active {
    font-weight: 1000;
    color: red;
  
}



