.header {
    display: flex;
    justify-content: space-between;
    ul{
        display:flex;
        list-style:none;
        li{
            margin: .9rem;
            a{
                text-decoration: none;
                color: pink;
            }
        
        }

    }
}